
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/store_head_foot.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tesla</title>
    <link rel="stylesheet" href="~/StoreTemplate/css/indexStyle.css">
</head>
<main>
    <section class="hero">
        <h1>Modelo Y</h1>
        <p>0% APR Available</p>
        <p>Lease Starting at $299/mo*</p>
        <div class="cta-buttons">
            <a href="/CarPurchase?id=3" class="cta-button order-now">Ordene ahora</a>
            <a href="#" class="cta-button">Ver mas</a>
        </div>
    </section>
    <section class="cybertruck">
        <h1>Modelo S</h1>
        <p>0% APR Available</p>
        <p>Lease Starting at $299/mo*</p>
        <div class="cta-buttons">
            <a href="/CarPurchase?id=2" class="cta-button order-now">Ordene ahora</a>
            <a href="#" class="cta-button">Ver mas</a>
        </div>
    </section>
    <section class="modelox">
        <h1>Modelo X</h1>
        <p>0% APR Available</p>
        <p>Lease Starting at $299/mo*</p>
        <div class="cta-buttons">
            <a href="/CarPurchase?id=1" class="cta-button order-now">Ordene ahora</a>
            <a href="#" class="cta-button">Ver mas</a>
        </div>
    </section>
</main>

